*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-bg: #fffdfa;
    --primary-orange: #e9ab53;
    --primary-red: 	#f15e50;
    --grayish-blue: #c5c6ce;
    --dark-grayish-blue: #5d5f79;
    --very-dark-blue: #00001a;
}

html, body {
    width: 95%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: var(--light-bg);
}



a{
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    html, body {
        width: 98%;
    }
}

